[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = montanarograziano
	email = 40232320+montanarograziano@users.noreply.github.com
	signingkey = /Users/graziano/.ssh/gitkey.pub
[github]
  user = montanarograziano
[core]
    editor = vim
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
[merge]
  conflictstyle = zdiff3
[pull]
  rebase = true
[fetch]
    prune = true

